#contact {
  height: 100%;
  background-color: #25152a;
  padding: 100px;
}

.formitem {
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border: 1px solid white; */
  border-radius: 20px;
}
.textarea {
  height: 150px !important;
  resize: none;
}
.contactimg {
  width: 350px;
  height: 350px;
}
@media (max-width: 768px) {
  .contactimg {
  width: 400px;
  height: 400px;
  }
}
