.allSkillIcon {
  width: 80px;
  height: 80px;
  transition: all 0.2s ease-in-out;
}
.allSkillIcon:hover {
  width: 65px;
  height: 65px;
  padding: 5px;
  border: 2px solid #ae8af8;
  border-radius: 10px;
  cursor: pointer;
  animation: glow 2s infinite alternate;
}
#Skill {
  height: 100%;
  background-color: #25152a;
  padding: 100px;
  /* border-left: 4px solid #ae8af8;
  border-right: 4px solid #ae8af8;
  animation: glow 2s infinite alternate; */
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #ae8af8;
  }
  100% {
    box-shadow: 0 0 20px #c29aff, 0 0 40px #c29aff;
  }
}
@media(max-width:992px)
{
  #Skill{
    padding: 50px;
  }
}
